<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ room.name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'conference_app/css/layout.css' %}">
</head>
<body>
 <div class="container">
    <nav>
        <ul>
            <li>
            <a href="/rooms/" class="btn btn-primary">Home</a>
            </li>
            <li>
            <a href="/room/new/" class="btn btn-primary">Add Room</a>
            </li>
        </ul>
    </nav>
    <div class="card-container">
        <div class="card" style="width: 20rem; margin: 2rem 0 0 0; padding: 1rem;">
            <div>
                <strong>Room: {{ room.name }}</strong>
            </div><br>
            <div>
                <p>
                    Capacity: {{ room.capacity }}<br>
                    Projector: {{ room.projector|yesno:"✔,✘" }}<br>
                    Reservations:
                        {% for reservation in room.reservation_list.all %}
                        <div>
                            Date: {{ reservation.date }}<br>
                            Comments: {{ reservation.comment }}
                        </div><br>
                    {% endfor %}
                </p>
                <div style="align: center">
                <a href="/room/modify/{{ room.id }}" class="btn btn-primary">Edit</a>
                <a href="/room/reserve/{{ room.id }}" class="btn btn-primary">Book</a>
                <a href="/rooms/" class="btn btn-primary">Back</a>
                <a href="/room/delete/{{ room.id }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div><br>
        <footer aria-label="breadcrumb">
            <div class="breadcrumb">Created by: Marcin Zieliński</div>
        </footer>
 </div>
</body>
</html>